prefix               = "quantumshield-dev"
location             = "westeurope"
app_service_sku_name = "B1"
sql_administrator_login    = "sqladminuser"
sql_administrator_password = "ChangeMe-Now123!"
sql_database_name          = "quantumshielddb"
blob_container_name        = "app-data"

tags = {
  environment = "dev"
  owner       = "platform-team"
}